@import "_variable";
@import "_mixin";
body{
    margin:0;
    padding:0;
}

.menu-linux, .menu-linux-two {
    background-color: $color_orange;
    overflow: hidden;

    a {
        display: inline-block;
        color: $color_white;
        font-family: 'Ubuntu', sans-serif;
        padding: 14px 2%;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        font-weight: 300;
        position: relative;
    }

    a:hover {
        color: $color_white;
        z-index: 1;
    }

    img {
        width: 64px;
        float: right;
    }

    a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: $color_white;
        height: 1px;
    }

    a:hover:after {
        width: 100%;
        margin-bottom: 10px;
        transition: ease-in 0.5s;
    }
}


@media only screen and (max-width: 600px) {
.menu-linux {
        a {
            display: none;
        }

        img {
            width: 44px;
            float: right;
        }
    }


.logo-2 {
        display: none;
    }

    .menu-linux-two {
        background-color: $color_white;


        a {
            font-size: 10px;
            color: $color_gray-hard;
            padding: 14px;
            margin-left:12px;
        }

        a:hover {
            color: $color_gray-hard;
        }

        a:after {
            background: $color_gray-hard;
        }
    }

}