$color_orange: #e95420;
$color_purple: rgb(119,41,83);
$color_white: rgb(255, 255, 255);
$color_gray: rgb(174,167,159);
$color_hard_purple: rgb(44,0,30);
$color_gray-hard: #0d0d0d;
$color-fonts-whiteback: #6c6c6c;
$color-fonts-whitewhite: #efefef;



$font_ubunto: 'Ubuntu', sans-serif;




